<html>
    <head>
        <base href ="/">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../styles/materialize.min.css">
        <link rel="stylesheet" href="../styles/site.css">

    </head>
    <body>  
        
        <app>Loading...</app>
       
      <script src="../build/common.js"></script>
      <script src="../build/angular2.js"></script>
      <script src="../build/app.js"></script>
    </body>
</html>